.Inventory {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-evenly;
  padding: 1rem 0.5rem;
  border-top: 0.1px solid #051622;
}

.Product {
  border: 0.1px solid #051622;
  height: 200px;
  width: 350px;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Product h1 {
  font-weight: 800;
  position: absolute;
  padding-bottom: 0.5rem;
  bottom: 0;
}

button {
  outline: none;
  border-radius: 15px;
  height: 2rem;
  width: 10rem;
  padding: 0.5em;
  margin: 0.5rem 3rem;

  text-align: center;
  font-weight: 800;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
  background-color: lightcoral;
  color: #fff;
}
